.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flex > svg{
    height: 45%;
}

.ucionice-text{
    font: italic 30px sans-serif;
    fill: black;
}

.temp-text{
    font: bold 20px sans-serif;
    fill: white;
}

.graf {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 55%;
    height: 55%;
    border: 0;
}

.graf-off {
    display: none;
}

.graf-on{
    display: block;
}